* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
main {
    margin: auto;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.timer {
    display: flex;
    justify-content: flex-end;
}

.choice {
    display: block;
    justify-content: center;
}



button {
    font-size: 20px;
    background-color: rgb(0, 134, 22);
    border-radius: 8px;
    color: white;
}

.timer {
    color: red;
    font-weight: bolder;
    font-size: 30px;
}



